/*------ reset password Page  --------*/
@import "variables";
@import "common";

.reset-password-wrapper {
    .reset-password-container {
      background: transparent none repeat scroll 0 0;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
      padding: 80px;
      text-align: left;
      @media #{$lg-layout} {
        padding: 80px 50px;
      }
      @media #{$xs-layout} {
        padding: 40px 15px;
      }
      p {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px;
      }
      div {
        color: #aba8a8;
        margin-bottom: 15px;
      }
      .go-back {
        font-size: 15px;
        text-decoration: underline;
        color: #817e7e;
        font-weight: 500;
      }
      .reset-password-form {
        form {
          input {
            background-color: transparent;
            border: 1px solid #ebebeb;
            color: #333;
            font-size: 14px;
            height: 45px;
            margin-bottom: 30px;
            padding: 0 15px;
          }
          .button-box {
            button {
              background-color: #c7c7c7;
              border: medium none;
              color: #333;
              cursor: pointer;
              font-size: 14px;
              font-weight: 500;
              line-height: 1;
              padding: 11px 30px;
              text-transform: uppercase;
              transition: all 0.3s ease 0s;
              &:hover {
                background-color: $theme-color;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  
  .reset-password-area {
    @media #{$xs-layout} {
      &.pb-100 {
        padding-bottom: 60px;
      }
    }
  }